@font-face {
  font-family: NanumGothic-Bold;
  src: url(../assets/fonts/NanumGothic-Bold.ttf); }

@font-face {
  font-family: NanumGothic-Regular;
  src: url(../assets/fonts/NanumGothic-Regular.ttf); }

@font-face {
  font-family: Montserrat-Bold;
  src: url(../assets/fonts/Montserrat-Bold.ttf); }

@font-face {
  font-family: Montserrat-Light;
  src: url(../assets/fonts/Montserrat-Light.ttf); }

@font-face {
  font-family: Montserrat-Medium;
  src: url(../assets/fonts/Montserrat-Medium.ttf); }

@font-face {
  font-family: Montserrat-Regular;
  src: url(../assets/fonts/Montserrat-Regular.ttf); }

@font-face {
  font-family: Montserrat-SemiBold;
  src: url(../assets/fonts/Montserrat-SemiBold.ttf); }

.f-Mont-22 {
  font-family: Montserrat-Regular;
  font-size: 22px; }

.f-Mont-20 {
  font-family: Montserrat-Regular;
  font-size: 20px; }

:root {
  --gray: #323645;
  --gray-light: #464B5F;
  --gray-light2: #8899C9;
  --gray-dark: #2A2D38;
  --blue-aqua: #6BB5FB;
  --blue-dark: #384E85;
  --purple: #798FFE;
  --purple-light: #899dfc;
  --white-50: rgba(255, 255, 255, 0.501);
  --shadow: rgba(0, 0, 0, 0.25);
  --green: #609E5F;
  --red: #9E5F5F;
  --main-width: 1200px; }

body {
  background: var(--gray); }

.body__image {
  position: absolute;
  width: 100%;
  z-index: -1; }

.container {
  margin: 0 auto;
  padding: 0 35px;
  max-width: var(--main-width); }

h4 {
  margin: 0;
  color: white;
  font-family: Montserrat-Bold;
  font-size: 24px; }

h3 {
  margin: 0;
  color: white;
  font-family: Montserrat-SemiBold;
  font-size: 35px; }

h2 {
  margin: 0;
  color: white;
  font-family: NanumGothic-Regular;
  font-size: 60px;
  text-align: center; }

h1 {
  margin: 0;
  color: white;
  font-size: 100px;
  font-family: NanumGothic-Bold; }

.hidden {
  display: none; }

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .menu__button {
    border: 4px solid var(--gray-dark);
    background: var(--gray-light);
    color: var(--gray-dark);
    font-family: Montserrat-SemiBold;
    font-size: 18px;
    padding: 8px 36px;
    border-radius: 10px;
    margin-left: 30px; }
    .menu__button:hover {
      color: white;
      background: var(--gray-dark); }
  .menu span {
    display: flex;
    align-items: center; }
  .menu ul {
    margin: 0; }

.header {
  padding: 12px 0;
  margin: 0; }
  .header a {
    padding: 0 20px;
    text-decoration: none;
    color: var(--white-50); }

.hero {
  display: flex;
  position: relative;
  min-height: 80vh;
  margin-top: 180px; }
  .hero__button {
    border: 2px solid var(--purple);
    background: var(--purple);
    color: var(--gray-dark);
    font-family: Montserrat-SemiBold;
    font-size: 20px; }
    .hero__button:hover {
      border: 2px solid var(--purple-light);
      background: var(--purple-light); }
  .hero__text {
    color: var(--white-50);
    margin-bottom: 32px; }
  .hero__leftside {
    width: 66%; }
  .hero__rightside {
    margin-top: 60px;
    position: relative;
    width: 50%;
    height: 450px;
    margin-left: 20px; }
  .hero__image {
    position: absolute; }
  @media screen and (max-width: 1090px) {
    .hero__image {
      width: 90%; }
    .hero__rightside {
      padding-top: 60px;
      height: 350px; } }
  .hero__social {
    flex-direction: column;
    right: 0;
    bottom: 0; }

.features {
  margin-top: 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 270px);
  grid-gap: 45px 80px; }
  .features__item {
    position: relative;
    background: var(--gray-dark);
    border-radius: 10px;
    box-shadow: -16px 16px var(--shadow);
    padding: 32px; }
    .features__item p {
      font-family: Montserrat-Regular;
      font-size: 15px;
      color: rgba(255, 255, 255, 0.655); }

.item2 {
  grid-column-start: 2;
  grid-row-start: 2; }

.item3 {
  grid-column-start: 3;
  grid-row-start: 3; }

.figura1 {
  position: absolute;
  top: -80px; }

.figura2 {
  position: absolute;
  top: -38px; }

.figura3 {
  position: absolute;
  top: -66px; }

.plans {
  margin-top: 200px; }

.plansTab {
  display: flex;
  padding: 24px;
  width: calc(100% - 48px);
  height: 500px;
  border-radius: 10px;
  margin: 200px 0;
  background-color: var(--gray-dark); }
  .plansTab__plans {
    display: flex;
    width: 80%;
    height: 100%;
    border-radius: 10px;
    background-color: var(--gray-light); }
  .plansTab__features {
    width: 20%;
    margin-right: 24px; }
  .plansTab__features .plansTab__feature:not(:last-child) {
    border-bottom: 3px solid var(--gray-light); }
  .plansTab__feature {
    display: flex;
    align-items: center;
    height: calc(20% - 3px); }
  .plansTab__feature p {
    font-family: Montserrat-Regular;
    font-size: 18px;
    color: white; }
  .plansTab p {
    margin: 0; }
  .plansTab__plan {
    position: relative;
    align-items: center;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .plansTab__plan h4 {
    height: 142%;
    width: 100%;
    padding-top: 24px;
    text-align: center;
    position: absolute;
    top: -142.4px;
    margin: 0;
    margin-bottom: 54px;
    color: white;
    font-family: Montserrat-Light;
    font-size: 28px;
    border-radius: 10px; }
  .plansTab__plan h4 span {
    font-size: 20px; }
  .plansTab__checks {
    position: absolute;
    height: 100%; }
  .plansTab__icon {
    display: flex;
    justify-content: center;
    height: 20%; }
  .plansTab__icon img {
    width: 45px; }
  .plansTab__button {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: -75px; }

.activeplan {
  background-color: var(--gray-dark);
  box-shadow: -16px 16px var(--shadow); }

.activecheck {
  filter: invert(57%) sepia(94%) saturate(250%) hue-rotate(169deg) brightness(96%) contrast(105%); }

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
  background: var(--gray-dark);
  width: 600px;
  border-radius: 10px;
  box-shadow: -16px 16px var(--shadow);
  padding: 40px; }
  .form input[type=text],
  .form input[type=email],
  .form input[type=password] {
    margin: 16px 0;
    width: 500px;
    height: 55px;
    border-radius: 10px;
    background: var(--gray-light);
    border: none; }
  .form input[type=submit] {
    font-family: Montserrat-Medium;
    font-size: 15px;
    padding: 20px 50px;
    border-radius: 10px;
    margin: 16px 0;
    background: var(--purple);
    border: none; }
  .form h4 {
    margin-bottom: 70px; }
  .form ::-moz-placeholder {
    font-family: Montserrat-Regular;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.551);
    padding-left: 20px; }
  .form ::placeholder {
    font-family: Montserrat-Regular;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.551);
    padding-left: 20px; }
  .form a {
    font-family: Montserrat-Regular;
    font-size: 15px;
    text-decoration: none;
    color: var(--blue-aqua); }

.faq {
  display: flex;
  flex-direction: column;
  margin-bottom: 150px; }
  .faq__text {
    font-family: Montserrat-Regular;
    font-size: 18px;
    text-align: center;
    margin: 50px 0;
    color: white; }
  .faq__question {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 25px auto;
    border-radius: 10px;
    padding: 8px 0;
    background: var(--gray-light);
    box-shadow: -16px 16px var(--shadow); }
  .faq__question span {
    display: flex; }
  .faq__question p,
  .faq img {
    font-family: Montserrat-Regular;
    font-size: 20px;
    color: white;
    margin-left: 25px; }
  .faq__description {
    font-family: Montserrat-Light !important;
    font-size: 18px !important;
    margin-left: 80px !important; }

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 3px solid var(--gray-light);
  margin-top: 350px; }
  footer p {
    font-family: Montserrat-Regular;
    font-size: 15px;
    padding: 50px 0;
    color: rgba(255, 255, 255, 0.551); }

.button {
  padding: 20px 20px;
  border-radius: 6px; }

.social {
  position: absolute;
  display: flex;
  width: 30px;
  height: 30px; }
  .social i {
    cursor: pointer;
    margin-bottom: 25px; }

.test {
  display: flex;
  position: relative;
  height: 300px;
  width: 300px;
  background-color: bisque; }
  .test__social {
    left: 0;
    top: 0;
    bottom: 1; }

.floating {
  animation-name: floating;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px; }

@keyframes floating {
  0% {
    transform: translate(0, 0px); }
  50% {
    transform: translate(0, 15px); }
  100% {
    transform: translate(0, 0px); } }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }
