body {
    background: var(--gray);
}

.body__image {
    position: absolute;
    width: 100%;
    z-index: -1;
}

.container {
    margin: 0 auto;
    padding: 0 35px;
    max-width: var(--main-width);
}

h4 {
    margin: 0;
    color: white;
    font-family: Montserrat-Bold;
    font-size: 24px;
}

h3 {
    margin: 0;
    color: white;
    font-family: Montserrat-SemiBold;
    font-size: 35px;
}

h2 {
    margin: 0;
    color: white;
    font-family: NanumGothic-Regular;
    font-size: 60px;
    text-align: center;
}

h1 {
    margin: 0;
    color: white;
    font-size: 100px;
    font-family: NanumGothic-Bold;
}

.hidden {
    display: none;
}