:root {
    --gray: #323645;
    --gray-light: #464B5F;
    --gray-light2: #8899C9;
    --gray-dark: #2A2D38;
    --blue-aqua: #6BB5FB;
    --blue-dark: #384E85;
    --purple: #798FFE;
    --purple-light: #899dfc;

    --white-50: rgba(255, 255, 255, 0.501);
    --shadow: rgba(0, 0, 0, 0.25);

    --green: #609E5F;
    --red: #9E5F5F;

    --main-width: 1200px;
}