.features {
    margin-top: 200px;
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 270px);
    grid-gap: 45px 80px;

    &__item {

        background: var(--gray-dark);
        border-radius: 10px;
        box-shadow: -16px 16px var(--shadow);
        padding: 32px;
    }
}

.item2 {
    grid-column-start: 2;
    grid-row-start: 2;
}

.item3 {
    grid-column-start: 3;
    grid-row-start: 3;
}