.features {
    margin-top: 200px;
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 270px);
    grid-gap: 45px 80px;

    &__item {
        position: relative;
        background: var(--gray-dark);
        border-radius: 10px;
        box-shadow: -16px 16px var(--shadow);
        padding: 32px;

        p {
            font-family: Montserrat-Regular;
            font-size: 15px;
            color: rgba(255, 255, 255, 0.655);
        }
    }
}

.item2 {
    grid-column-start: 2;
    grid-row-start: 2;
}

.item3 {
    grid-column-start: 3;
    grid-row-start: 3;
}

.figura1 {
    position: absolute;
    top: -80px;
}

.figura2 {
    position: absolute;
    top: -38px;
}

.figura3 {
    position: absolute;
    top: -66px;
}